#include "App-Base.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = NO

// Build Options
DEBUG_INFORMATION_FORMAT = DWARF_WITH_DSYM
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES

// Apple Clang - Code Generation
GCC_OPTIMIZATION_LEVEL = s

// Apple Clang - Preprocessing
ENABLE_NS_ASSERTIONS = NO

// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

// User-Defined
MTL_ENABLE_DEBUG_INFO = NO
